@import 'Variables.scss';

:root {
  #{$primary}: $color-dark;
  #{$secondary}: $color-light;
  #{$theme}: $color-theme;
  #{$button}: $color-dark;
}

[data-theme='dark'] {
  #{$primary}: $color-light;
  #{$secondary}: $color-dark;
  #{$theme}: $color-theme;
  #{$button}: $color-light;
}

html,
body {
  color: var(--primary);
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  letter-spacing: 0.14rem;
  overflow-x: hidden;
  background: var(--secondary);
  font-size: 100%;

  @media screen and (max-width: 1400px) {
    font-size: 90%;
  }

  @media screen and (max-width: 800px) {
    font-size: 80%;
  }

  @media screen and (max-width: 410px) {
    font-size: 70%;
  }

  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
  background: transparent;
  color: var(--button);
  border: 1px solid var(--button);
  border-radius: 1.5rem;
  font-size: 1.3rem;
  padding: 0.4rem 2rem;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.411);
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(2px);
  }

  & a {
    color: var(--button);
  }
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  width: 1rem;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--theme);
}

input {
  font-size: 1.4rem;
  padding: 0.7rem 0;
  margin: 1rem 0;
  width: 20vw;
  background: transparent;
  outline: none;
  border: 2px solid var(--primary);
  border-radius: 1.5rem;
  padding-left: 1rem;
  height: fit-content;

  @media screen and (max-width: 1200px) {
    font-size: 1.1rem;
    width: 30vw;
  }

  @media screen and (max-width: 830px) {
    font-size: 1.1rem;
    width: 40vw;
  }
  @media screen and (max-width: 410px) {
    width: 55vw;
    font-size: 1.3rem;
  }

  &::placeholder {
    opacity: 0.7;
  }
}
