@import "Variables.scss";

.container {
  position: fixed;
  width: 0vw;
  height: 0vh;
  top: 0;
  right: 0;
  background: $gradient-main;
  z-index: 600;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-out;
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 18%);

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    line-height: 2.8;
    font-size: 1.5rem;
    font-weight: 300;

    a {
      background: $color-light;
      clip-path: polygon(8% 0, 100% 0%, 92% 100%, 0% 100%);
      width: 10rem;
      text-align: center;
      margin: 1.5rem 0;
      padding: 0.1rem 1rem;
    }
  }

  li {
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 500;
  }
}

[data-theme="dark"] .container {
  background: $gradient-secondary;

  ul a {
    background: $color-grey;
  }
}

.active {
  opacity: 1;
  height: 100vh;
  width: 100vw;
  bottom: 0;
}
.closed {
  opacity: 0;
  height: 0vh;
}
