@import "Variables.scss";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 13rem 0;

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;

    input {
      font-size: 1.4rem;
      padding: 0.7rem 0;
      margin: 1rem 0;
      width: 20vw;
      background: transparent;
      outline: none;
      border: 2px solid $color-dark;
      border-radius: 1.5rem;
      padding-left: 1rem;

      @media screen and (max-width: 1200px) {
        font-size: 1.1rem;
        width: 30vw;
      }

      @media screen and (max-width: 830px) {
        font-size: 1.1rem;
        width: 40vw;
      }
      @media screen and (max-width: 410px) {
        width: 55vw;
        font-size: 1.3rem;
      }

      &::placeholder {
        opacity: 0.7;
      }
    }

    button {
      margin-top: 2rem;
    }
  }
}

.thanks {
  z-index: 10;
  width: 50%;
  margin-bottom: 2rem;

  @media screen and (max-width: 660px) {
    font-size: 1rem;
    width: 70%;
  }

  h3 {
    text-align: center;
    text-transform: uppercase;
  }
}

.alert {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  width: 100%;
  height: 2vh;
  color: rgb(197, 65, 65);

  @media screen and (max-width: 410px) {
    font-size: 0.9rem;
  }
}

.clip_path {
  position: absolute;
  clip-path: polygon(0 19%, 100% 0, 100% 100%, 0% 100%);
  background: $gradient-main;
  width: 100%;
  height: 100%;
}

.svg {
  height: 1.2rem;
  width: 1.2rem;
  fill: rgb(197, 65, 65);
}

.message_sent {
  background: rgb(231, 231, 231);
  opacity: 0.6;
  cursor: default;
  &:hover {
    transform: translateY(0);
    box-shadow: none;
  }
  &:active {
    transform: translateY(0);
  }
}

.copyrights {
  z-index: 10;
  position: absolute;
  bottom: 5%;
}
