$color-light: #ececec;
$color-dark: #444;
$gradient-main: linear-gradient(to right, #eacda3, #d6ae7b);
$gradient-secondary: linear-gradient(to right, #000000, #434343);
$color-theme: #d6ae7b;
$color-grey: rgb(126, 126, 126);

$primary: '--primary';
$secondary: '--secondary';
$gradient: '--gradient';
$theme: '--theme';
$button: '--button';

@mixin s-v-g {
  width: 3rem;
  height: 3rem;
}
